@font-face {
  font-family: "secret";
  src: url("../font/top_secret.OTF");
}
@font-face {
  font-family: "blade";
  src: url("../font/blade.TTF");
}
body {
  background: #000000;
  color: #ffffff;
  font-family: sans-serif;
  transition: all ease 0.5s;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

a {
  color: white;
}

.scroll_active {
  transition: all ease 1s;
}
#navbar {
  transition: all ease 0.5s;
  position: fixed;
  left: 0vw;
  top: 0vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#navbar nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#navbar nav ul li a p {
  font-family: "secret";
  text-align: center;
}

#switch {
  cursor: pointer;
  padding: 0.2%;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  transition: all ease 0.5s;
}

#icon_add {
  display: flex;
  justify-content: center;
  align-items: center;
}
#icon_add #showAddIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.4%;
}
#icon_add #showAddIcon svg {
  width: 20px;
  height: 20px;
}
#icon_add #showAddIcon #iconShow {
  display: none;
}
#icon_add #showAddIcon.active #iconhidden {
  display: none;
}
#icon_add #showAddIcon.active #iconShow {
  display: block;
}
#icon_add fieldset {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
#icon_add fieldset legend {
  padding: 1%;
  text-align: center;
  font-weight: bolder;
}
#icon_add fieldset label {
  margin-top: 5%;
}
#icon_add fieldset input[type=text] {
  background: none;
  border-radius: 5px;
  padding-left: 0.5%;
  margin-bottom: 5%;
}
#icon_add fieldset input[type=text]:focus {
  border: 1px solid #ff0000;
  outline: none;
}

button[type=submit] {
  cursor: pointer;
  border: none;
  background: none;
  font-family: "blade";
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 50px;
  transition: all ease 0.5s;
}
button[type=submit]:hover {
  transition: all ease 0.5s;
  color: rgba(255, 0, 0, 0.8);
  border-bottom: 1px solid #880000;
  border-right: 1px solid #880000;
}

#view_icon {
  border: 1px solid lime;
}

fieldset input[type=text] {
  border: 1px solid #ffffff;
  color: #ffffff;
}
fieldset button[type=submit] {
  color: #ffffff;
  border-color: silver;
}

#navbar nav ul li a .iconNav {
  fill: #ffffff;
}
#navbar nav ul li a p {
  text-shadow: 2px 2px 2px #000000;
}
#navbar nav ul li.activeNav a {
  color: #ff0000;
}
#navbar nav ul li.activeNav a svg {
  fill: #880000;
}

div.night {
  content: url("../image/Icon feather-moon.svg");
  border: 4px double #ffffff;
  transition: all ease 0.5s;
}

#icon_add #showAddIcon {
  border-color: #ffffff;
}
#icon_add #showAddIcon svg {
  fill: #ffffff;
}

body.day {
  transition: all ease 0.5s;
  background: #ffffff;
  color: #000000;
}
body.day #navbar nav ul li a {
  color: #000000;
}
body.day #navbar nav ul li a .iconNav {
  fill: #000000;
}
body.day #navbar nav ul li a p {
  text-shadow: 2px 2px 2px #ffffff;
}
body.day #navbar nav ul li.iconNav a p {
  color: #880000;
}
body.day #navbar nav ul li.iconNav a svg {
  fill: #ff0000;
}
body.day div.day {
  content: url("../image/Icon ionic-ios-sunny.svg");
  border: 4px double #000000;
  transition: all ease 0.5s;
}
body.day #icon_add #showAddIcon {
  border-color: #000000;
}
body.day #icon_add #showAddIcon svg {
  fill: #000000;
}
body.day #icon_add fieldset {
  background: rgba(211, 211, 211, 0.4);
}
body.day #icon_add fieldset input[type=text] {
  border-color: #000000;
  color: #000000;
}
body.day #icon_add fieldset input[type=text]:focus {
  outline: none;
  border-color: #880000;
}
body.day #icon_add fieldset button[type=submit] {
  border-color: #000000;
  color: #000000;
}
body.day #icon_add fieldset button[type=submit]:hover {
  color: #880000;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #880000;
  border-right: 1px solid #880000;
}

@media screen and (min-width: 1441px) {
  #navbar nav {
    width: 50vw;
  }
  #navbar nav ul {
    width: 95vw;
  }
  #navbar nav ul li a .iconNav svg {
    width: 2vw;
  }

  #icon_add {
    margin-top: 6vw;
  }
  #icon_add #showAddIcon:hover {
    background: rgba(255, 255, 255, 0.7);
  }
  #icon_add #showAddIcon:hover svg {
    fill: #000000;
  }
  #icon_add fieldset button[type=submit] {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 1440px) {
  body {
    background: blue;
  }

  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar nav ul {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #navbar nav ul li a .iconNav svg {
    width: 8vw;
  }
  #navbar nav ul li a .iconNav p {
    margin-top: 0;
  }
  #navbar nav ul li:nth-child(4) {
    margin-top: 1vw;
  }

  #icon_add {
    margin-top: 20vw;
  }
  #icon_add #showAddIcon.active {
    margin-top: 5vw;
  }
  #icon_add fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #icon_add fieldset input[type=text] {
    margin: 1.5% 0;
  }
  #icon_add fieldset button[type=submit] {
    font-size: 3vw;
    width: 6vw;
  }
}

/*# sourceMappingURL=style.css.map */
