//anchor font declaration
@font-face {
  font-family: 'secret';
  src: url('../font/top_secret.OTF');
}

@font-face {
  font-family: 'blade';
  src: url('../font/blade.TTF');
}

//anchor color declaration
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$darkred: #880000;

body {
  background: $black;
  color: $white;
  font-family: sans-serif;
  transition: all ease .5s;
}

//reset
a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

fieldset {
  legend {
    text-transform: uppercase;
    font-family: cursive;
  }
}

//anchor general
.hidden {
  display: none;
}

.show {
  display: block;
}

.empty {
}

.scroll {
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    height: 0;
    border: 1px solid;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 50px;
    background: black;
  }
}

button[type='submit'] {
  cursor: pointer;
  border: none;
  background: none;
  font-family: 'blade';
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 50px;
  transition: all ease .5s;

  &:hover {
    transition: all ease .5s;
    color: rgba($red, .8);
    border-bottom: 1px solid $darkred;
    border-right: 1px solid $darkred;
  }
}

a {
  color: white;
}

.scroll_active {
  transition: all ease 1s;

  a {
    svg {
    }
  }
}

//Link navbar general
#navbar {
  transition: all ease .5s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p {
            font-family: 'secret';
            text-align: center;
          }
        }
      }
    }
  }
}

//anchor switch general
#switch {
  cursor: pointer;
  padding: .2%;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  transition: all ease .5s;
}

//link icon general
//anchor form add
#icon_add {
  display: flex;
  justify-content: center;
  align-items: center;

  #showAddIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
    padding: .4%;

    svg {
      width: 20px;
      height: 20px;
    }

    #iconShow {
      display: none;
    }
  }

  #showAddIcon.active {
    #iconhidden {
      display: none;
    }

    #iconShow {
      display: block;
    }
  }

  fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    legend {
      padding: 1%;
      text-align: center;
      font-weight: bolder;
    }

    label {
      margin-top: 5%;
    }

    input[type='text'] {
      background: none;
      border-radius: 5px;
      padding-left: .5%;
      margin-bottom: 5%;

      &:focus {
        border: 1px solid $red;
        outline: none;
      }
    }
  }
}

//anchor view
#view_icon {
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;

  #iconContent {
    margin-top: .2%;
    height: 70vh;
    width: 95%;
    display: grid;
    align-content: start;
    padding: .5%;

    span {
      //border: 1px solid;
      padding: 1%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;

      input[type='radio'] {
        display: none;

        &:checked {
          ~ label {
            border: 1px solid;
            height: 40px;
            padding: 10%;
            border-radius: 10px;
            background: rgba($red, .4);

            .iconView {
              filter: invert(100%);
            }
          }
        }
      }

      label {
        cursor: pointer;

        .iconView {
          width: 40px;
          height: 40px;
          margin: 1% 0;
        }
      }
    }
  }

  button[type='submit'] {
    font-size: 1.3vw;
    width: auto;
    margin: .2% 0 .4% 0;
  }
}

//Link color general
#colorForm {
  //sublink add/update
  display: flex;
  justify-content: center;
  align-items: start;

  .formContent {
    //anchor btn show hidden
    .showHiddenColor {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: start;

      .s\&hBtn {
        cursor: pointer;
        border: 1px solid;
        padding: 2%;
        border-radius: 50px;

        svg {
        }
      }
    }

    //anchor form
    #color_add, #color_update {
      border-radius: 10px;

      legend {
        width: auto;
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          justify-content: center;
          align-items: center;
          margin: 5% 0;
          text-align: center;

          label, input {
            cursor: pointer;
          }

          input[type='color'] {
            border: none;
            background: none;
          }

          .slide {
            display: flex;

            input[type='checkbox'] {
              display: none;
            }

            label {
              transition: all ease .5s;
              border: 1px solid;
              border-radius: 50px;
              width: 100%;
              padding: .5%;
              display: flex;
              align-items: center;
              justify-content: flex-start;

              .cercle {
                border: 1px solid;
                background: grey;
                border-radius: 50px;
                width: 15px;
                height: 15px;
                margin: .5%;
              }
            }

            input[type="checkbox"] {
              &:checked {
                ~ label {
                  justify-content: flex-end;
                }
              }
            }
          }
        }

        div.btn {
          display: flex;
          justify-content: space-around;

          button[type='submit'] {
          }
        }
      }
    }
  }

  //sublink preview
  .previewColor {
    margin: 0 5% 0;
    display: flex;
    flex-direction: column;
    width: 20vw;

    h2 {
      font-family: cursive;
      text-align: center;
      cursor: pointer;

      &:after {
        margin: 0 0 0 5%;
        font-size: xx-large;
        align-items: center;
        text-align: center;
      }
    }

    h2.active {
      &:after {
        content: '-';
      }
    }

    h2.desactive {
      &:after {
        content: '+';
      }
    }

    .colorPreviewBody {
      height: 20vh;
      width: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;

      .colorPreviewInside {
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;

        .colorPreviewText {
          text-transform: uppercase;
        }
      }
    }
  }
}

//anchor select
#view_color {
  margin: 1% 0 0;
  width: 95%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column-reverse;
  padding: .5%;

  .color_containt {
    display: grid;
    //grid-template-columns: repeat(12, minmax(0, 1fr));
    border: 1px solid;
    width: 95%;
    height: 50vh;
    padding: 1%;

    span.container {
      //border: 1px solid;
      margin: 0 5% 0;
      border-radius: 20px;
      height: 17vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      input[type='radio'] {
        display: none;

        &:checked {
          ~ .infoColor {
            transition: all ease .5s;
            display: block;
          }
        }
      }

      label {
        cursor: pointer;
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .infoColor {
        display: none;
        margin: 0 0 0 2.5%;
        width: 50%;
        background: rgba($black, .8);
        position: relative;
        padding: 1%;

        div {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 5% 0;
          border-bottom: 1px solid;

          p {
            margin: .5% 0;
          }
        }
      }
    }
  }

  button[type='submit'] {
    font-size: 1.5vw;
    margin: 0 0 .5% 0;
  }
}

//link night
//sublink general
.scroll {
  &::-webkit-scrollbar {
    border-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($white, .9);
  }
}

button[type='submit'] {
  color: $white;
}

fieldset {
  input[type='text'] {
    border: 1px solid $white;
    color: $white;
  }

  button[type='submit'] {
    color: $white;
    border-color: silver;
  }
}

//sublink navbar
#navbar {
  nav {
    ul {
      li {
        a {
          .iconNav {
            fill: $white;
          }

          p {
            text-shadow: 2px 2px 2px $black;
          }
        }
      }

      li.activeNav {
        a {
          color: $red;

          svg {
            fill: rgba($red, .7);
          }
        }
      }
    }
  }
}

//sublink switch
div.night {
  content: url("../image/Icon feather-moon.svg");
  border: 4px double $white;
  transition: all ease .5s;
}

//sublink icon night
//anchor add
#icon_add {
  #showAddIcon {
    border-color: $white;

    svg {
      fill: $white;
    }
  }
}

//anchor view
#view_icon {
  #iconContent {
    background: dimgrey;
  }
}

//subLink color general
#colorForm {
  //anchor add/update
  .formContent {
    .showHiddenColor {
      //subanchor btn show hidden
      .active {
        background: rgba($white, .4);

        svg {
          fill: $white;
        }
      }

      .desactive {
        border-color: $white;

        svg {
          fill: $white;
        }
      }
    }
  }

  #color_add {
    legend {

    }

    form {
      div {
        .slide {
          label {
            border-color: $white;
            background: $darkred;

            .cercle {
              border-color: $white;
            }
          }
        }

        input[type="checkbox"] {
          &:checked {
            ~ label {
              background: green;
            }
          }
        }
      }
    }
  }

  //anchor preview
}

//anchor select

//link day
body.day {
  font-weight: bolder;
  transition: all ease .5s;
  background: $white;
  color: $black;
  //sublink general
  button[type='submit'] {
    border-color: $black;
    color: $black;

    &:hover {
      color: $darkred;
      background: rgb($black, .2);
      border-bottom: 1px solid $darkred;
      border-right: 1px solid $darkred;
    }
  }

  .scroll {
    &::-webkit-scrollbar {
      border-color: $black;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($black, .8);
    }
  }

  //sublink navbar
  #navbar {
    nav {
      ul {
        li {
          a {
            color: $black;

            .iconNav {
              fill: $black;
            }

            p {
              text-shadow: 2px 2px 2px $white;
            }
          }
        }

        li.activeNav {
          a {
            p {
              color: $darkred;
            }

            svg {
              fill: $darkred;
            }
          }
        }
      }
    }
  }

  //sublink swicth
  div.day {
    content: url("../image/Icon ionic-ios-sunny.svg");
    border: 4px double $black;
    transition: all ease .5s;
  }

  //sublink icon
  //anchor add
  #icon_add {
    #showAddIcon {
      border-color: $black;

      svg {
        fill: $black;
      }
    }

    fieldset {
      background: rgba(lightgrey, .4);

      input[type='text'] {
        border-color: $black;
        color: $black;

        &:focus {
          outline: none;
          border-color: $darkred;
        }
      }
    }
  }

  //anchor view
  #view_icon {
    #iconContent {
      background: gray;
    }
  }

  //subLink color day

  #colorForm {
    //anchor add/update
    .formContent {
      .showHiddenColor {
        //subanchor btn show hidden
        .active {
          background: rgba($black, .4);

          svg {
            fill: $black;
          }
        }

        .desactive {
          border-color: $black;

          svg {
            fill: $black;
          }
        }
      }
    }

    #color_add {
      legend {

      }

      form {
        div {
          .slide {
            label {
              border-color: $black;
              background: $red;

              .cercle {
                border-color: $black;
                background: lightgray;
              }
            }
          }

          input[type="checkbox"] {
            &:checked {
              ~ label {
                background: #009e08;
              }
            }
          }
        }
      }
    }

    //anchor preview
  }

  //anchor select
}

//Link resposive
//sublink desktop
@media screen and (min-width: 1441px) {
  //anchor general
  //subanchor navbar large
  #navbar {
    nav {
      width: 50vw;

      ul {
        width: 95vw;

        li {
          a {
            .iconNav {
              svg {
                width: 2vw;
              }
            }
          }
        }
      }
    }
  }
  //anchor icon large
  // subanchor add
  #icon_add {
    #showAddIcon {
      &:hover {
        background: rgba($white, .7);

        svg {
          fill: $black;
        }
      }
    }

    fieldset {
      button[type='submit'] {
        font-size: 1.5vw;
      }
    }
  }
  //subanchor view
  #view_icon {
    #iconContent {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
  //anchor color large
  #colorForm {
    //subanchor add/update
    .formContent {
      width: 15%;
      //subanchor btn show hidden
      .showHiddenColor {

        .s\&hBtn {
          margin-bottom: 5%;

          svg {
            width: 1vw;
          }
        }
      }

      //subanchor form
      #color_add, #color_update {

        legend {

        }

        form {

          div {

            label, input {

            }

            input[type='color'] {
              width: 40px;
              height: 40px;
            }

            .slide {
              width: 3vw;

              label {
                height: 20px;

                .cercle {

                }
              }

              input[type="checkbox"] {
                &:checked {
                  ~ label {

                  }
                }
              }
            }
          }

          div.btn {
            width: 95%;

            button[type='submit'] {
              font-size: 30px;
            }
          }
        }
      }
    }

    //anchor preview
    .previewColor {

      legend {

      }

      .colorPreviewBody {

        .colorPreviewInside {

          .colorPreviewText {
            font-size: xx-large;
          }
        }
      }
    }
  }

  #view_color {

    .color_containt {
      grid-template-columns: repeat(12, minmax(0, 1fr));

      span.container {
        input[type='radio'] {

          &:checked {
            ~ .infoColor {
            }
          }
        }

        label {

        }

        .infoColor {

          div {

            p {

            }
          }
        }
      }
    }

    button[type='submit'] {

    }
  }
}

//sublink mobile
@media screen and (max-width: 1440px) {
  body {
    //background: red;
  }
  //subLink navbar small
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
      ul {
        width: 70vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          a {
            .iconNav {
              svg {
                width: 8vw;
              }

              p {
                margin-top: 0;
              }
            }
          }

          &:nth-child(4) {
            margin-top: 1vw;
          }
        }
      }
    }
  }
  // sublink icon small
  //anchor add
  #icon_add {
    margin-top: 20vw;

    #showAddIcon.active {
      margin-top: 5vw;
    }

    fieldset {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input[type='text'] {
        margin: 1.5% 0;
      }

      button[type='submit'] {
        font-size: 5vw;
        width: 10vw;
      }
    }
  }
  //anchor view
  #view_icon {
    button[type='submit'] {
      font-size: 5vw;
    }

    #iconContent {
      grid-template-columns: repeat(6, minmax(0, 1fr));

      label {
      }
    }
  }
  //subLink color small
  #colorForm {
    //anchor add/update
    .formContent {
      width: 75%;
      //subanchor btn show hidden
      .showHiddenColor {
        .s\&hBtn {
          margin-bottom: 2%;

          svg {
            width: 4vw;
          }
        }
      }

      //subanchor form
      #color_add, #color_update {

        legend {

        }

        form {
          div {

            label, input {

            }

            input[type='color'] {

            }

            .slide {

              input[type='checkbox'] {

              }

              label {

                .cercle {

                }
              }

              input[type="checkbox"] {
                &:checked {
                  ~ label {

                  }
                }
              }
            }
          }

          div.btn {
            width: 98%;

            button[type='submit'] {
              font-size: 5vw;
            }
          }
        }
      }
    }

    //anchor preview
    .previewColor {
      legend {

      }

      .colorPreviewBody {

        .colorPreviewInside {

          .colorPreviewText {

          }
        }
      }
    }
  }
  #view_color {
    .color_containt {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      column-gap: 25%;

      span.container {
        border: 1px solid pink;
        width: 20vw;

        input[type='radio'] {

          &:checked {
            ~ .infoColor {
            }
          }
        }

        label {

        }

        .infoColor {

          div {

            p {

            }
          }
        }
      }
    }

    button[type='submit'] {
      font-size: 5vw;
    }
  }
}


