//anchor color déclaration
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$darkred: #880000;

body {
  background: $black;
  //background: grey;
  color: $white;
  font-family: sans-serif;
}
//reset
a{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}

//general
.hidden{
  display: none;
}
.show{
  display: block;
}
//anchor general (night)
a{
  color: white;
}



.scroll_active{
  transition: all ease 1s;
  a{
    svg{
    }
  }
}

//Link navbar general/default
#navbar{
  transition: all ease .5s;
  position: fixed;
  left: 0vw;
  top: 0vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    ul{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 95vw;
      li{
        a{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .iconNav{
            fill: $white;
          }
          p{
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }
  }
}
//link switch general/default
//#switch {
//  background: #000;
//  cursor: pointer;
//  content: url("../image/Icon feather-moon.svg");
//  border: 4px double $white;
//  padding: .2%;
//  border-radius: 50px;
//  width: 20px;
//  height: 20px;
//  transition: all ease .5s;
//  //  fixme au click
//  &:hover {
//    background: #ffffff;
//    content: url("../image/Icon ionic-ios-sunny.svg");
//    border: 4px double black;
//    transition: all ease .5s;
//  }
//}

div.night{
  cursor: pointer;
  content: url("../image/Icon feather-moon.svg");
  border: 4px double $white;
  padding: .2%;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  transition: all ease .5s;
}

div.day{
  content: url("../image/Icon ionic-ios-sunny.svg");
  border: 4px double black;
  transition: all ease .5s;
}

//anchor day/night
body.day {
  background: $white;
  color: $black;
  //link navbar day
}

//anchor resposive
//anchor desktop
@media screen and (min-width: 1441px) {
//Link navbar large
  #navbar{
    nav{
      ul{
        li{
          a{
            .iconNav{
              svg{
                width: 2vw;
              }
            }
          }
        }
      }
    }
  }
}

//anchor mobile
@media screen and (max-width:1440px) {
  //Link navbar small
  #navbar{
    nav{
      ul{
        li{
          a{
            .iconNav{
              svg{
                width: 8vw;
                stroke: $darkred;
              }
            }
          }
        }
      }
    }
  }
}



